html, body {
  width:100%; height:100%;
  margin:0; padding:0;
  background : #eee;
  color : #555;
  font-family: arial;
}

tr, td {
  height:100%;
  padding:0;
}

.popover{ /* overwrite the max width for bootstrap popover */
    max-width: 650px;
}

.box-bound {
  -moz-box-sizing:border-box; /* Firefox */
  box-sizing:border-box;
}

.main-tooltip {
  position:absolute;
  right:15px;
  top:17px;
}

.config-tooltip {
  float:right;
  padding-right:45px;
}

.mainContent {
  width: 100%;
}

.mainContent td {
  width:50%;
}

.infoBox {
  width:100%;
  background:rgba(255,255,255,0.35);
  padding: 10px;
  color: #333;
  text-shadow: 0 1px 0 #ffffff;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #bbb;
    color: #555;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.modal-footer {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #bbb;
    color: #555;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
 }

.report-list {
    width: 100%;
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box;
}
.report-list td {
    width:50%;
    margin:15px;
    padding:10px;
}
.report-list label:hover {
    background: #ddd;
    border: solid 1px #fff;
}

.inset-shadow {
    padding:10px;
    -moz-box-sizing: border-box; /* Firefox */
    box-sizing: border-box;
   -moz-box-shadow: inset 0 0 3px #555;
   -webkit-box-shadow: inset 0 0 3px #555;
   box-shadow: inset 0 0 3px #555;
}

.shadowLight {
    text-shadow: 0 1px #fff;
}
.shadowDark {
    text-shadow: 0 -1px #000;
}

.showBusy {
    width:220px; height:19px;
    position:absolute;
    left:10px; top:10px;
    background: url(/img/progress.gif);
}

#console {
    z-index:10;
    border:2px solid #888;
    padding:10px;
    background:#1a1a1a;
    overflow: auto;
    width:100%; height: 100%;
    color:#ddd;
    text-shadow: #ddd 0 0 5px;
    font-family: 'Lucida Console';
}
#console .success {
    color:#0ff;
    text-shadow: #0ff 0 0 5px;
}
#console .fail {
    color:#f00;
    text-shadow: #f00 0 0 5px;
}

#console .blink {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    gwebkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.task-success {
    background-position:right 50px center;
    background-repeat:no-repeat;
    background-image:url(../img/ok.png);
}
.task-fail {
    background-position:right 50px center;
    background-repeat:no-repeat;
    background-image:url(../img/no.png);
}