.slide_content {
  position:relative;
  margin:auto;
  width:100%;
  display:none;
}

.contentOut {
    -moz-animation:contentHide 0.5s 1 both;
    -webkit-animation:contentHide 0.5s 1 both;
    -ms-animation:contentHide 0.5s 1 both;
}
@-webkit-keyframes contentHide {
    0% { -webkit-transform: translate3d(0, 0, 0); -webkit-opacity: 1;}
    30% {-webkit-opacity: 0;}
    100% { -webkit-transform: translate3d(0, -30px, 0); -webkit-opacity: 0;}
    }
@-moz-keyframes contentHide {
    0% { -moz-transform: translate(0, 0); opacity: 1;}
    30% {opacity: 0;}
    100% { -moz-transform: translate(0, -30px); opacity:0;}
}
@-ms-keyframes contentHide {
    0% { -ms-transform: translate3d(0, 0, 0); -ms-opacity: 1;}
    30% {-ms-opacity: 0;}
    100% { -ms-transform: translate3d(0, -30px, 0); -ms-opacity: 0;}
}

.contentIn {
    -moz-animation:contentShow 0.5s 1 both;
    -webkit-animation:contentShow 0.5s 1 both;
    -ms-animation:contentShow 0.5s 1 both;
}
@-webkit-keyframes contentShow {
    0% { -webkit-transform: translate3d(-2000px, 0, 0); }
    100% { -webkit-transform: translate3d(0, 0, 0); }
}
@-moz-keyframes contentShow {
    0% { -moz-transform: translate(-2000px, 0); }
    100% { -moz-transform: translate(0, 0); }
}
@-ms-keyframes contentShow {
    0% { -ms-transform: translate3d(-2000px, 0, 0); }
    100% { -ms-transform: translate3d(0px, 0, 0); }
}