
#graph {
}

/*   Workload Bar chart   */
#graph .workload {
  fill: steelblue;
}
#graph .workload .bar:hover {
    fill: #FFFF66;
}
#graph .workload .error {
	fill: brown;
}
#graph .workload text {
  fill: brown;
  font: 10px sans-serif;
  text-anchor: middle;
}
#graph .workload .axis text {
  font: 10px sans-serif;  
}
#graph .workload .axis path,
#graph .workload .axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

#graph .throughput {
  fill: steelblue;
}
#graph .throughput .bar:hover {
    fill: brown;
}
#graph .throughput text {
  fill: brown;
  font: 10px sans-serif;
  text-anchor: middle;
}

#graph .throughput .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#graph .throughput .axis text {
  font: 10px sans-serif;  
}

#graph .throughput .axis path,
#graph .throughput .axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}